html{
  background-color: rgb(31, 37, 47) !important;
}

.walletButton{
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(21, 61, 111, 0.44);
  border: 2px solid rgba(6, 12, 19, 0.44);
  color: rgb(80, 144, 234);
  padding: 12px 24px;
  border-radius: 8px;
  position: absolute;
  right: 10px;
  top: 10px;
}

#background-radial-gradient{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  width: 200vw;
  height: 200vh;
  background: radial-gradient(50% 50% at 50% 50%,#26fc074f 0,rgba(255,255,255,0) 100%);
  transform: translate(-50vw,-100vh);
  z-index: -1;
}

.App {
  text-align: center;
}

.App-logo {
  height: 12vmin;
  pointer-events: none;
  position: absolute;
  top: 10px;
  left: 10px;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/
.App-header {
  /*background-color: #282c34;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.game, .prediction{
  border: 15px solid rgba(255, 255, 255, 0.12);
  padding-bottom: 20px;
  border-radius: 15px;
}

.game:not(.minimized), .prediction:not(.minimized){
  border: 25px solid rgba(65, 247, 0, 0.17);
}

.gameName, .createGame, .ticker, .targetPrice, .faqQuestion{
  font-weight: bolder;
}

.gameName:hover, .createGame:hover, .predictionName:hover{
  cursor: pointer;
}

.validField{
 background-color: green;
}

.invalidField{
  background-color: red;
}

.contractLink{
  color: greenyellow;
  text-decoration: none;
  font-weight: bold;
}

.gamePrize{
  grid-area: prize;
}

.gameCost{
  grid-area: cost;
}

.gamePicks{
  font-weight: bold;
  color: greenyellow;
}

.gameMax{
  font-weight: bold;
  color: greenyellow;
}

.nextDraw{
  grid-area: next;
}

.lastNumbers{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: pre;
  grid-area: last;
}

.gameOdds{
  grid-area: odds;
}

.gameContract{
  grid-area: contract;
}

.gameInstruction{
  grid-area: instruction;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: pre;
}

input[type="button"]:hover{
  cursor: pointer;
}

input[type="text"]{
  text-align: center;
}

.innerApp{
  min-width: 90vw;
}

.createGameWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.createGameWrapper > *, .gameList > *, .faq > *{
  margin-bottom: 0.2em;
}

.faq{
  margin: 1em;
}

.gameInfo{
  display: grid;
  grid-template-areas: "instruction instruction instruction instruction"
  "prize cost odds contract"
  "last last last last"
  "next next next next";
}

.gameInfo > *{
  margin: 2px;
}

.gameInputs{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.gameInputs > *{
  margin: 2px;
}

.winningNumber{
  margin: 0 12px 0 0;
  font-size: 2rem;
  color: #fff;
  background: #209869;
  border-radius: 35px;
  width: 36px;
  height: 36px;
  padding: 12px;
  text-align: center;
}

.button-40, .input-40 {
  background-color: #13040b3d;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  /*font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  */font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.input-40{
  cursor: text !important
}

.button-40:hover {
  background-color: #13040bd6;
}

.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-40:disabled{
  background-color: grey;
}

.button-40:disabled:hover{
  cursor: wait;
}

@media (min-width: 768px) {
  .button-40 {
    padding: .75rem 1.5rem;
  }
}

.navBar{
  justify-self: center;
  background-color: rgb(25, 27, 31);
  width: fit-content;
  padding: 2px;
  border-radius: 16px;
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  overflow: auto;
  -moz-box-align: center;
  align-items: center;
  margin: 10px;
}

.navLink{
  display: flex;
  flex-flow: row nowrap;
  border-radius: 3rem;
  outline: currentcolor none medium;
  cursor: pointer;
  text-decoration: none;
  color: rgb(195, 197, 203);
  font-size: 1rem;
  font-weight: 500;
  padding: 8px 12px;
  word-break: break-word;
  overflow: hidden;
  white-space: nowrap;
}

.navLink.active{
  border-radius: 14px;
  font-weight: 600;
  -moz-box-pack: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 36, 41);
}

.faqAnswer{
  font-size: calc(4px + 2vmin);
  white-space: pre-wrap;
  max-width: 90vw;
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 20px;
}

.switchNetworks{
  margin-top: 2em;
}

.sportOracles{
  display: flex;
  flex-direction: row;
  font-size: smaller;
  text-align: center;
  margin: 0 auto;
  /*align-items: center;*/
  justify-content: center;
}

.oracleGame{
  margin: 10px;
}

.oracleGame:nth-child(2n+1){
  background-color: #209869ad;
  border-radius: 5px;
}